.tab-title
  border-bottom: 1px solid #eaecef;
  padding: 15px 0;
  font-size: 1.4rem;
  color: #3a5169;
  font-weight bold;
  
.features-tag
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0
  .feature
    padding: 10px;
    flex-basis: 20% !important;
    h1{
      font-size: 1.2rem;
    }
    p{
      font-size: 0.9rem;
    }
  